<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Extension</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    
    <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        </customHeaders>
      </httpProtocol>
</head>
<body>
   

    <div class="container">
         <div id="title"><img src="static/images/icon.png" alt="Lemon logo" width="0">
         <h1 class="text-center">LemonInk</h1></div>
         <div id="content">This news is ...</div>
         <script  src="static/scripts/main.js"></script>

    </div>
       

    

</body>


</html>