$size: 10vh;

$background: gainsboro;
$stripe-1: palevioletred;
$stripe-2: white;
$shadow-light: rgba(black, 0.1);
$shadow-medium: rgba(black, 0.2);
$shadow-heavy: rgba(black, 0.3);

$ball-time: 1000ms;
$rotation-time: 3000ms;
$bounce-time: 500ms;

@keyframes ball {
  0% { border-width: #{$size / 2} 0 0 0; }
  100% { border-width: 0 0 #{$size / 2} 0; }
}

@keyframes rotate {
  0% { transform: rotate3d(0, 0, 1, 0deg); }
  100% { transform: rotate3d(0, 0, 1, 360deg); }
}

@keyframes bounce {
  0% { transform: translate3d(0, 0, 0) scale3d(0.9, 1.05, 1); }
  100% { transform: translate3d(0, $size, 0) scale3d(1.1, 0.8, 1); }
}

@keyframes shadow {
  0% { transform: scale3d(0.6, 0.6, 1); background-color: $shadow-light; }
  100% { transform: scale3d(1, 1, 1); background-color: $shadow-heavy; }
}

*,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $background;
}

scene,
bounce,
bounce::after,
ball,
shadow {
  display: block;
  width: $size;
}

scene {
  height: #{$size * 2};
  position: relative;
  
  &::after {
    content: "bounce";
    display: block;
    width: fit-content;
    position: relative;
    z-index: -1;
    color: mix($background, black, 90%);
    font: {
      family: Pacifico, sans-serif;
      size: $size * 1.5;
      weight: bolder;
    }
    transform: translate3d(calc(-50% + #{$size / 2}), -#{$size / 2}, 0);
  }
}

bounce,
bounce::after,
ball {
  height: $size;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

bounce {
  animation: bounce $bounce-time ease-in infinite alternate;

  &::after {
    content: "";
    border: {
      width: 0 0 #{$size / 4} 0;
      style: solid;
      color: $shadow-medium;
    }
  }
}

ball {
  border: {
    style: solid;
    color: $stripe-1;
    radius: 50%;
  }
  background-color: $stripe-2;
  animation:
    ball $ball-time ease-in-out infinite alternate,
    rotate $rotation-time linear infinite;
}

shadow {
  height: #{$size / 4};
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: shadow $bounce-time ease-in-out infinite alternate;
}